<a href="https://colab.research.google.com/github/Supansapkb/BasicProg_DataViz65/blob/main/Project_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏° google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ path ‡πÉ‡∏ô google drive
import os
os.chdir('/content/gdrive/MyDrive/DPDV65/project_1')

!pwd #‡πÄ‡∏ä‡πá‡∏Ñ paht ‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏•‡∏±‡∏á‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏≠‡∏¢‡∏π‡πà

/content/gdrive/MyDrive/DPDV65/project_1

In [ ]:
!ls

opendata_interest_clean.csv  opendata_unittype.csv
opendata_interest.csv	     opendata_volume_listing_clean.csv
opendata_project_clean.csv   opendata_volume_listing.csv
opendata_project.csv	     Residental_clean_final_1.csv
opendata_unittype_clean.csv  Residental_clean_final_1.gsheet

# üîóDatabase
[Open Data Free!! By Baania (Thailand)](https://gobestimate.com/data)


```
opendata_project.csv
```
[*Residental Project Data* ](https://gobestimate.com/data-detail/Residental-Project-Data)
 ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏ú‡∏π‡πâ‡∏û‡∏±‡∏í‡∏ô‡∏≤ ‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å ‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ 
```
opendata_unittype.csv  
```
[*Residental Unittype Data*](https://gobestimate.com/data-detail/Residental-Unittype-Data)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÅ‡∏ö‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏à‡∏≤‡∏Å‡∏Å‡∏≤‡∏£‡∏£‡∏ß‡∏ö‡∏£‡∏ß‡∏°‡πÇ‡∏î‡∏¢ ‡∏ö‡∏≤‡πÄ‡∏ô‡∏µ‡∏¢ ‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏ ‡∏ï‡πâ‡∏≠‡∏á‡πÉ‡∏ä‡πâ‡∏£‡πà‡∏ß‡∏°‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• "Residental Project Data"
```
opendata_interest.csv 
```
[*Customer Interest by Location*](https://gobestimate.com/data-detail/Customer-Interest-by-Location)
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏ô‡πÉ‡∏à‡∏Ç‡∏≠‡∏á‡∏ú‡∏π‡πâ‡∏ö‡∏£‡∏¥‡πÇ‡∏†‡∏Ñ (‡πÅ‡∏ö‡∏ö aggreation value) ‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à‡πÉ‡∏ô‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà

```
opendata_volume_listing.csv
```
[*Volume of Sale Listing by Location*](https://gobestimate.com/data-detail/Volume-of-Sale-Listing-by-Location)
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®‡∏Ç‡∏≤‡∏¢‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà ‡πÇ‡∏î‡∏¢‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏°‡∏≤‡∏à‡∏≤‡∏Å‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®‡∏Ç‡∏≤‡∏¢‡πÉ‡∏ô‡πÇ‡∏•‡∏Å‡∏≠‡∏≠‡∏ô‡πÑ‡∏•‡∏ô‡πå‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢

# üîóOpen CSV file ü´£

In [ ]:
#open CSV file 
import pandas as pd

In [ ]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô-‡∏õ‡∏≤‡∏£‡πå‡∏Ñ-‡∏Ñ...,2022-09-30
1,20964.0,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ä‡∏¥‡∏•‡∏•‡πå-‡∏ß‡∏¥‡∏•‡πÄ‡∏•...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/‡∏î‡∏µ‡∏ç‡πà‡∏≤-‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå-‡∏®‡∏£...,2022-09-30

In [ ]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3) #‡∏´‡∏≤‡∏Å‡∏°‡∏µ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏Å‡∏±‡∏ö‡∏ö‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏≠‡∏∑‡πà‡∏ô‡πÑ‡∏î‡πâ‡∏´‡∏•‡∏≤‡∏¢‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏à‡∏∞‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏´‡∏•‡∏±‡∏Å‡∏ó‡∏µ‡πà‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏Å‡∏±‡∏ö‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏≠‡∏∑‡πà‡∏ô

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/‡πÑ‡∏•‡∏ü‡πå-‡∏£‡∏±‡∏ä‡∏î‡∏≤‡∏†‡∏¥‡πÄ‡∏©‡∏Å-...,2022-09-30
1,34437,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏≤‡πÇ‡∏Æ‡∏°-‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏û‡∏•-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢...,2022-09-30

In [ ]:
opendata_interest = pd.read_csv('opendata_interest.csv')
print(opendata_interest.shape) 
opendata_interest.head(3)

(1767, 12)

,row_number,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,1185,2020,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏Ñ‡∏•‡∏≠‡∏á‡πÄ‡∏ï‡∏¢,KHLONG TOEI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,19,32,2022-09-30
1,369,2020,5,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,Nonthaburi,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,MUEANG NONTHABURI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,81,555,2022-09-30
2,780,2019,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,HUAI KHWANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,120,432,2022-09-30

In [ ]:
opendata_volume_listing = pd.read_csv('opendata_volume_listing.csv')
print(opendata_volume_listing.shape) 
opendata_volume_listing.head(3)

(2376, 11)

,row_number,transction_year,transction_month,project_province_name_th,project_province_name_en,project_district_name_th,project_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_sale,day
0,226,2021,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Ñ‡∏≠‡πÅ‡∏´‡∏•‡∏°,BANG KHO LAEM,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,175,2022-11-01
1,1203,2019,3,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,Samut Prakan,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,112,2022-11-01
2,448,2020,1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏£‡∏≤‡∏ä‡πÄ‡∏ó‡∏ß‡∏µ,RATCHATHEWI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,70,2022-11-01

# üîóData Cleaning

## üìëopendata_project table

In [ ]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô-‡∏õ‡∏≤‡∏£‡πå‡∏Ñ-‡∏Ñ...,2022-09-30
1,20964.0,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ä‡∏¥‡∏•‡∏•‡πå-‡∏ß‡∏¥‡∏•‡πÄ‡∏•...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/‡∏î‡∏µ‡∏ç‡πà‡∏≤-‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå-‡∏®‡∏£...,2022-09-30

### Select columns

#‡∏Å‡∏£‡∏≠‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ß‡πà‡∏≤‡∏à‡∏∞‡πÉ‡∏ä‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÑ‡∏´‡∏ô‡∏ö‡πâ‡∏≤‡∏á

In [ ]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'day'],
      dtype='object')

In [ ]:
opendata_project = opendata_project[['project_id',  'name_en',  'propertytype_id',
       'propertytype_name_en','propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en',  'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
        'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

In [ ]:
opendata_project.head()

,project_id,name_en,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,latitude,longitude,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,project_4270,Paholyothin Park Condominium,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,13.786388,100.553931,...,NaN,96.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0
1,project_15158,The Chill Village,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,16.209059,103.288288,...,NaN,125.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,project_9490,Diya Valley Sriracha,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,...,NaN,195.0,4.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,project_13601,Baan Rungrawe,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2750000.0,developer_10510,NaN,8.096150,98.309995,...,NaN,32.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,project_12398,Town Plus Ladprao 101,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",13.797585,100.633945,...,NaN,114.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0

### Missing/Null Checking

In [ ]:
opendata_project.isnull().any() # True ‡∏°‡∏µNaN

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

In [ ]:
opendata_project.dtypes #‡∏ö‡∏≠‡∏Å‡∏ß‡πà‡∏≤‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡∏´‡∏£‡∏∑‡∏≠‡∏ï‡∏±‡∏ß‡∏´‡∏ô‡∏±‡∏á‡∏™‡∏∑‡∏≠

project_id                 object
name_en                    object
propertytype_id            object
propertytype_name_en       object
propertytype_name_th       object
price_min                  object
developer_id               object
developer_name_en          object
latitude                  float64
longitude                 float64
neighborhood_id            object
neighborhood_name_en       object
subdistrict_id            float64
subdistrict_name_en        object
subdistrict_name_th        object
district_id               float64
district_name_en           object
district_name_th           object
province_id               float64
province_name_en           object
province_name_th           object
zipcode                   float64
count_elevator             object
count_elevator_service     object
count_floor                object
count_parking              object
count_unit                 object
count_unittype            float64
facility_clubhouse        float64
facility_fitness          float64
facility_meeting          float64
facility_park             float64
facility_playground       float64
facility_pool             float64
facility_security         float64
dtype: object

#### ‚á® dropna

In [ ]:
# ' price_min ' ‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ï‡πà‡∏≥‡∏™‡∏∏‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
print(len(opendata_project[opendata_project['price_min'].isnull()])) #we used dropna()
opendata_project = opendata_project.dropna(subset=['price_min']) #‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤ price_min ‡∏°‡∏µ‡∏Å‡∏µ‡πà‡πÅ‡∏ñ‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ NaN

109

In [ ]:
# ' longitude '
opendata_project[opendata_project['longitude'].isnull()]

,project_id,name_en,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,latitude,longitude,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
168,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,SAM KHOK,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12097,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3611.0,‡∏ö‡πâ‡∏≤‡∏ô‡∏â‡∏≤‡∏á,3600,MUEANG PATHUM THANI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,3599,Pathum Thani,12000.0,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15944,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3634.0,‡∏Ñ‡∏π‡∏ö‡∏≤‡∏á‡∏´‡∏•‡∏ß‡∏á,3630,LAT LUM KAEO,‡∏•‡∏≤‡∏î‡∏´‡∏•‡∏∏‡∏°‡πÅ‡∏Å‡πâ‡∏ß,3599,Pathum Thani,12140.0,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17513,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,SAM KHOK,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17559,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,SAM KHOK,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21577,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3634.0,‡∏Ñ‡∏π‡∏ö‡∏≤‡∏á‡∏´‡∏•‡∏ß‡∏á,3630,LAT LUM KAEO,‡∏•‡∏≤‡∏î‡∏´‡∏•‡∏∏‡∏°‡πÅ‡∏Å‡πâ‡∏ß,3599,Pathum Thani,12140.0,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
opendata_project = opendata_project.dropna(subset=['longitude'])

In [ ]:
# 'zipcode' ‡∏£‡∏´‡∏±‡∏™‡πÑ‡∏õ‡∏£‡∏©‡∏ì‡∏µ‡∏¢‡πå
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

34

In [ ]:
# 'subdistrict_id' ‡∏£‡∏´‡∏±‡∏™‡∏ï‡∏≥‡∏ö‡∏•
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

10

#### ‚á® fill Null with real world Knownlege

In [ ]:
#fill NA with Text ‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏¢ Unknown
opendata_project['developer_name_en'] = opendata_project['developer_name_en'].fillna('Unknown')
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') #‡∏£‡∏´‡∏±‡∏™‡∏¢‡πà‡∏≤‡∏ô 
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')

In [ ]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå‡πÅ‡∏•‡∏∞‡∏ä‡∏±‡πâ‡∏ô ‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏¢ ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡∏Ñ‡∏¥‡∏î‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏¥‡∏î‡∏ß‡πà‡∏≤‡∏°‡∏±‡∏ô‡πÄ‡∏õ‡πá‡∏ô‡∏à‡∏£‡∏¥‡∏á
opendata_project[['count_floor', 'count_unit','count_unittype']]  = opendata_project[['count_floor', 'count_unit','count_unittype']].fillna(1) #‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡∏Ç‡∏≠‡∏á‡∏ï‡∏±‡∏ß‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏¢‡∏π‡∏ô‡∏¥‡∏ï‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']].fillna(0) 
# ‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [ ]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
dtype: bool

In [ ]:
# save data ‡πÄ‡∏Ç‡πâ‡∏≤ googledive
opendata_project.to_csv('opendata_project_clean.csv', index=False)

## üìëopendata_unittype table

In [ ]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/‡πÑ‡∏•‡∏ü‡πå-‡∏£‡∏±‡∏ä‡∏î‡∏≤‡∏†‡∏¥‡πÄ‡∏©‡∏Å-...,2022-09-30
1,34437,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏≤‡πÇ‡∏Æ‡∏°-‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏û‡∏•-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢...,2022-09-30

### Select columns

In [ ]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype', 'day'],
      dtype='object')

In [ ]:
opendata_unittype = opendata_unittype[['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th']]
opendata_unittype.head()

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th
0,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î
1,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô
2,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î
3,unittype_39281,project_17150,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô
4,unittype_14987,project_4759,Studio Floor 5,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î

### Missing/Null Checking

In [ ]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
dtype: bool

#### ‚á® fill Null with real world Knownlege

#‡∏Å‡∏≤‡∏£‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤massing

In [ ]:
#fill NA with Text
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('‡πÑ‡∏°‡πà‡∏£‡∏π‡πâ‡∏à‡∏±‡∏Å')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
dtype: bool

In [ ]:
# save data
opendata_unittype.to_csv('opendata_unittype_clean.csv', index=False)

## üìëopendata_interest table

In [ ]:
opendata_interest = pd.read_csv('opendata_interest.csv')
print(opendata_interest.shape) 
opendata_interest.head(3)

(1767, 12)

,row_number,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,1185,2020,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏Ñ‡∏•‡∏≠‡∏á‡πÄ‡∏ï‡∏¢,KHLONG TOEI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,19,32,2022-09-30
1,369,2020,5,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,Nonthaburi,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,MUEANG NONTHABURI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,81,555,2022-09-30
2,780,2019,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,HUAI KHWANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,120,432,2022-09-30

### Select columns

In [ ]:
opendata_interest.columns

Index(['row_number', 'transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest', 'day'],
      dtype='object')

In [ ]:
opendata_interest = opendata_interest[['province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest']]
opendata_interest.head()

,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest
0,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏Ñ‡∏•‡∏≠‡∏á‡πÄ‡∏ï‡∏¢,KHLONG TOEI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,19,32
1,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,Nonthaburi,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,MUEANG NONTHABURI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,81,555
2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,HUAI KHWANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,120,432
3,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,Samut Prakan,‡∏û‡∏£‡∏∞‡∏õ‡∏£‡∏∞‡πÅ‡∏î‡∏á,PHRA PRADAENG,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,11,28
4,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,Pathum Thani,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,MUEANG PATHUM THANI,‡∏ö‡πâ‡∏≤‡∏ô,Detached House,210,1405

### Missing/Null Checking

In [ ]:
opendata_interest.isnull().any()

province_name_th        False
province_name_en        False
district_name_th        False
district_name_en        False
propertytype_name_th    False
propertytype_name_en    False
volume_of_project       False
interest                False
dtype: bool

### Check data type

In [ ]:
opendata_interest.dtypes

province_name_th        object
province_name_en        object
district_name_th        object
district_name_en        object
propertytype_name_th    object
propertytype_name_en    object
volume_of_project        int64
interest                 int64
dtype: object

In [ ]:
# save data
opendata_interest.to_csv('opendata_interest_clean.csv', index=False)

 ### üìë opendata_volume_listing table

In [ ]:
opendata_volume_listing = pd.read_csv('opendata_volume_listing.csv')
print(opendata_volume_listing.shape) 
opendata_volume_listing.head(3)

(2376, 11)

,row_number,transction_year,transction_month,project_province_name_th,project_province_name_en,project_district_name_th,project_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_sale,day
0,226,2021,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Ñ‡∏≠‡πÅ‡∏´‡∏•‡∏°,BANG KHO LAEM,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,175,2022-11-01
1,1203,2019,3,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,Samut Prakan,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,112,2022-11-01
2,448,2020,1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏£‡∏≤‡∏ä‡πÄ‡∏ó‡∏ß‡∏µ,RATCHATHEWI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,70,2022-11-01

### Select columns

In [ ]:
opendata_volume_listing.columns

Index(['row_number', 'transction_year', 'transction_month',
       'project_province_name_th', 'project_province_name_en',
       'project_district_name_th', 'project_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_of_sale', 'day'],
      dtype='object')

In [ ]:
opendata_volume_listing = opendata_volume_listing[[
       'project_province_name_th', 'project_province_name_en',
       'project_district_name_th', 'project_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_of_sale', 'day']]
opendata_volume_listing.head(3)

,project_province_name_th,project_province_name_en,project_district_name_th,project_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_sale,day
0,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Ñ‡∏≠‡πÅ‡∏´‡∏•‡∏°,BANG KHO LAEM,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,175,2022-11-01
1,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,Samut Prakan,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,112,2022-11-01
2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏£‡∏≤‡∏ä‡πÄ‡∏ó‡∏ß‡∏µ,RATCHATHEWI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,70,2022-11-01

### Missing/Null Checking

In [ ]:
opendata_volume_listing.isnull().any()

project_province_name_th        False
project_province_name_en        False
project_district_name_th        False
project_district_name_en        False
project_propertytype_name_th    False
project_propertytype_name_en    False
volume_of_sale                  False
day                             False
dtype: bool

### Check data type

In [ ]:
opendata_volume_listing.dtypes

project_province_name_th        object
project_province_name_en        object
project_district_name_th        object
project_district_name_en        object
project_propertytype_name_th    object
project_propertytype_name_en    object
volume_of_sale                   int64
day                             object
dtype: object

In [ ]:
# save data
opendata_volume_listing.to_csv('opendata_volume_listing_clean.csv', index=False)

# üîóMerge tables

In [ ]:
import pandas as pd
opendata_project_clean = pd.read_csv('opendata_project_clean.csv')
opendata_unittype_clean = pd.read_csv('opendata_unittype_clean.csv') #‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏´‡∏•‡∏±‡∏Å
opendata_interest_clean = pd.read_csv('opendata_interest_clean.csv')
opendata_volume_listing_clean = pd.read_csv('opendata_volume_listing_clean.csv')

## 1] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_unittype_clean ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_project_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
opendata_unittype_clean.columns

Index(['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th'],
      dtype='object')

In [ ]:
opendata_project_clean.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'developer_id',
       'developer_name_en', 'latitude', 'longitude', 'neighborhood_id',
       'neighborhood_name_en', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security'],
      dtype='object')

In [ ]:
# select columns 
opendata_unittype_clean = opendata_unittype_clean[['unittype_id', 'project_id', 'name_th',]]
opendata_unittype_clean.head(3)

      unittype_id     project_id              name_th
0  unittype_19988   project_7861            1 Bedroom
1  unittype_37037  project_15918  ‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß
2  unittype_18897   project_6287               Studio

In [ ]:
# merge
merge_project_unittype = opendata_project_clean.merge(opendata_unittype_clean, how ='left', left_on='project_id',right_on='project_id') 
print(merge_project_unittype.shape)

(54604, 37)

In [ ]:
merge_project_unittype

,project_id,name_en,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,latitude,longitude,...,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,unittype_id,name_th
0,project_4270,Paholyothin Park Condominium,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,Unknown,13.786388,100.553931,...,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,unittype_11765,2 Bedroom
1,project_4270,Paholyothin Park Condominium,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,Unknown,13.786388,100.553931,...,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,unittype_13290,1 Bedroom
2,project_15158,The Chill Village,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,Unknown,16.209059,103.288288,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,unittype_35317,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß
3,project_9490,Diya Valley Sriracha,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,...,4.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,unittype_23763,Florence
4,project_9490,Diya Valley Sriracha,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,...,4.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,unittype_23764,Turin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54599,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,...,5.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,unittype_10704,Prominent
54600,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,...,5.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,unittype_10703,Primo
54601,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,...,5.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,unittype_10705,Privato
54602,project_7949,The Tropical Condominium,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,999000.0,developer_5477,Unknown,13.707605,100.610161,...,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,unittype_20247,1 Bedroom Type A
54603,project_7949,The Tropical Condominium,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,999000.0,developer_5477,Unknown,13.707605,100.610161,...,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,unittype_22445,1 Bedroom Type B

#### Missing/Null Checking

In [ ]:
merge_project_unittype.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
unittype_id               False
name_th                   False
dtype: bool

##  2] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á merge_project_unittype ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_interest_clean.csv

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
merge_project_unittype.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'developer_id',
       'developer_name_en', 'latitude', 'longitude', 'neighborhood_id',
       'neighborhood_name_en', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th'],
      dtype='object')

In [ ]:
opendata_interest_clean.columns

Index(['province_name_th', 'province_name_en', 'district_name_th',
       'district_name_en', 'propertytype_name_th', 'propertytype_name_en',
       'volume_of_project', 'interest'],
      dtype='object')

In [ ]:
# select columns 
opendata_interest_clean = opendata_interest_clean[['province_name_en',
       'district_name_en','propertytype_name_en',
       'volume_of_project', 'interest']]

In [ ]:
len(set(opendata_interest_clean['province_name_en'])) #Location scope - ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û ‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•

5

In [ ]:
len(set(merge_project_unittype['province_name_en'])) #Location scope - All

72

In [ ]:
merge_project_unittype_interest = merge_project_unittype.merge(opendata_interest_clean, how ='left', left_on=['province_name_en','propertytype_name_en','district_name_en'], right_on=['province_name_en','propertytype_name_en','district_name_en']) 
print(merge_project_unittype_interest.shape)

(319336, 39)

#### Missing/Null Checking

In [ ]:
merge_project_unittype_interest.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
unittype_id               False
name_th                   False
volume_of_project          True
interest                   True
dtype: bool

In [ ]:
print(len(merge_project_unittype_interest[merge_project_unittype_interest['volume_of_project'].isnull()]))

28098

In [ ]:
len(merge_project_unittype_interest) #‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

319336

In [ ]:
merge_project_unittype_interest[['volume_of_project']]  = merge_project_unittype_interest[['volume_of_project']].fillna(1)

In [ ]:
merge_project_unittype_interest[['interest']]  = merge_project_unittype_interest[['interest']].fillna(0)

In [ ]:
merge_project_unittype_interest.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
unittype_id               False
name_th                   False
volume_of_project         False
interest                  False
dtype: bool

##  3] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_volume_listing_clean ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_volume_listing_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
merge_project_unittype_interest.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'developer_id',
       'developer_name_en', 'latitude', 'longitude', 'neighborhood_id',
       'neighborhood_name_en', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th',
       'volume_of_project', 'interest'],
      dtype='object')

In [ ]:
opendata_volume_listing_clean.columns

Index(['project_province_name_th', 'project_province_name_en',
       'project_district_name_th', 'project_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_of_sale', 'day'],
      dtype='object')

In [ ]:
#select columns 
opendata_volume_listing_clean = opendata_volume_listing_clean[['project_province_name_th',
       'project_district_name_th', 
       'project_propertytype_name_th',
       'volume_of_sale']]

In [ ]:
opendata_volume_listings_clean=opendata_volume_listing_clean.rename(columns={'project_province_name_th': 'province_name_th', 'project_district_name_th': 'district_name_th','project_propertytype_name_th' :'propertytype_name_th' })
opendata_volume_listings_clean.shape

(2376, 4)

In [ ]:
opendata_volume_listings_clean

     province_name_th  district_name_th propertytype_name_th  volume_of_sale
0       ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£         ‡∏ö‡∏≤‡∏á‡∏Ñ‡∏≠‡πÅ‡∏´‡∏•‡∏°                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î             175
1         ‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£  ‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î             112
2       ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           ‡∏£‡∏≤‡∏ä‡πÄ‡∏ó‡∏ß‡∏µ                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î              70
3       ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           ‡∏ö‡∏≤‡∏á‡∏û‡∏•‡∏±‡∏î                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î             146
4       ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£            ‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î              85
...               ...               ...                  ...             ...
2371    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£         ‡∏•‡∏≤‡∏î‡∏Å‡∏£‡∏∞‡∏ö‡∏±‡∏á                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î              32
2372    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           ‡∏™‡∏ß‡∏ô‡∏´‡∏•‡∏ß‡∏á                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î             643
2373    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£            ‡∏õ‡∏£‡∏∞‡πÄ‡∏ß‡∏®                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î              74
2374    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£            ‡∏ö‡∏≤‡∏á‡∏£‡∏±‡∏Å                ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î            2125
2375    ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£           ‡∏¢‡∏≤‡∏ô‡∏ô‡∏≤‡∏ß‡∏≤             ‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°              17

[2376 rows x 4 columns]

In [ ]:
# merge
merge_project_unittype_interest_listings = merge_project_unittype_interest.merge(opendata_volume_listings_clean, how ='left', left_on=['province_name_th','district_name_th','propertytype_name_th'], right_on=['province_name_th','district_name_th','propertytype_name_th']) 
print(merge_project_unittype_interest_listings.shape)

(6101257, 40)

#### Missing/Null Checking

In [ ]:
merge_project_unittype_interest_listings.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
unittype_id               False
name_th                   False
volume_of_project         False
interest                  False
volume_of_sale             True
dtype: bool

In [ ]:
print(len(merge_project_unittype_interest_listings[merge_project_unittype_interest_listings['volume_of_sale'].isnull()]))

61580

In [ ]:
len(merge_project_unittype_interest_listings) #‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

6101257

In [ ]:
merge_project_unittype_interest_listings[['volume_of_sale']]  = merge_project_unittype_interest_listings[['volume_of_sale']].fillna(0)

In [ ]:
merge_project_unittype_interest_listings.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
unittype_id               False
name_th                   False
volume_of_project         False
interest                  False
volume_of_sale            False
dtype: bool

In [ ]:
merge_project_unittype_interest_listings.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'propertytype_name_th', 'price_min', 'developer_id',
       'developer_name_en', 'latitude', 'longitude', 'neighborhood_id',
       'neighborhood_name_en', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th',
       'volume_of_project', 'interest', 'volume_of_sale'],
      dtype='object')

In [ ]:
merge_project_unittype_interest_listings_mean=merge_project_unittype_interest_listings.groupby(['project_id','name_en','propertytype_name_th','propertytype_name_en','subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th','neighborhood_id',
       'neighborhood_name_en',]).mean().reset_index()

In [ ]:
merge_project_unittype_interest_listings_mean

,project_id,name_en,propertytype_name_th,propertytype_name_en,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,...,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,volume_of_project,interest,volume_of_sale
0,5e43cf362f2cb30012cefe2c,Astra Sky River,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,1007.0,CHANG KHLAN,‡∏ä‡πâ‡∏≤‡∏á‡∏Ñ‡∏•‡∏≤‡∏ô,1006.0,MUEANG CHIANG MAI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.000000,0.000000,0.000000
1,5e44bbf82f2cb30012cefe44,M Village Buengrai1-Sriracha,‡∏ö‡πâ‡∏≤‡∏ô,Detached House,4702.0,BUENG,‡∏ö‡∏∂‡∏á,4696.0,SI RACHA,‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.000000,0.000000,0.000000
2,5e44bbf82f2cb30012cefe44,M Village Buengrai1-Sriracha,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,Twin house,4702.0,BUENG,‡∏ö‡∏∂‡∏á,4696.0,SI RACHA,‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.000000,0.000000,0.000000
3,5e44c1d92f2cb30012cefe51,Golden Town 2 Ngamwongwan-Prachachuen,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,3379.0,BANG KHEN,‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô,3373.0,MUEANG NONTHABURI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,113.857143,1105.642857,34.135135
4,5e53671bb33a1500123c6674,Siri Place Ratchapruek-346,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,3603.0,BANG KHU WAT,‡∏ö‡∏≤‡∏á‡∏Ñ‡∏π‡∏ß‡∏±‡∏î,3600.0,MUEANG PATHUM THANI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,109.500000,851.888889,19.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23749,project_9997,Term Sub Living Home,‡∏ö‡πâ‡∏≤‡∏ô,Detached House,3437.0,THAP MA,‡∏ó‡∏±‡∏ö‡∏°‡∏≤,3432.0,MUEANG RAYONG,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏£‡∏∞‡∏¢‡∏≠‡∏á,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.000000,0.000000,0.000000
23750,project_9998,Town Square by Termsub,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,3490.0,MAENAM KHU,‡πÅ‡∏°‡πà‡∏ô‡πâ‡∏≥‡∏Ñ‡∏π‡πâ,3486.0,PLUAK DAENG,‡∏õ‡∏•‡∏ß‡∏Å‡πÅ‡∏î‡∏á,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.000000,0.000000,0.000000
23751,project_9998,Town Square by Termsub,‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£‡∏û‡∏≤‡∏ì‡∏¥‡∏ä‡∏¢‡πå,Commercial,3490.0,MAENAM KHU,‡πÅ‡∏°‡πà‡∏ô‡πâ‡∏≥‡∏Ñ‡∏π‡πâ,3486.0,PLUAK DAENG,‡∏õ‡∏•‡∏ß‡∏Å‡πÅ‡∏î‡∏á,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.000000,0.000000,0.000000
23752,project_9999,9999 Village,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,3487.0,PLUAK DAENG,‡∏õ‡∏•‡∏ß‡∏Å‡πÅ‡∏î‡∏á,3486.0,PLUAK DAENG,‡∏õ‡∏•‡∏ß‡∏Å‡πÅ‡∏î‡∏á,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.000000,0.000000,0.000000
23753,project_9999,9999 Village,‡∏ö‡πâ‡∏≤‡∏ô,Detached House,3487.0,PLUAK DAENG,‡∏õ‡∏•‡∏ß‡∏Å‡πÅ‡∏î‡∏á,3486.0,PLUAK DAENG,‡∏õ‡∏•‡∏ß‡∏Å‡πÅ‡∏î‡∏á,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.000000,0.000000,0.000000

In [ ]:
merge_project_unittype_interest_listings_mean.isnull().any()

project_id                False
name_en                   False
propertytype_name_th      False
propertytype_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
neighborhood_id           False
neighborhood_name_en      False
propertytype_id           False
price_min                 False
latitude                  False
longitude                 False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
volume_of_project         False
interest                  False
volume_of_sale            False
dtype: bool

In [ ]:
# save data
merge_project_unittype_interest_listings_mean.to_csv('Residental_clean_final_1.csv', index=False)

### dashboard

https://datastudio.google.com/reporting/61ec7fa3-6325-44c0-b709-8edd25043a8a

### ‡∏™‡∏°‡∏≤‡∏ä‡∏¥‡∏Å
633021026-4 ‡∏™‡∏∏‡∏û‡∏£‡∏£‡∏©‡∏≤ ‡∏õ‡∏£‡∏∞‡∏Å‡∏≠‡∏ö‡∏ö‡∏∏‡∏ç

633021027-2 ‡∏≠‡∏†‡∏¥‡∏®‡∏£‡∏≤ ‡∏û‡∏á‡∏©‡πå‡πÄ‡∏ã‡∏µ‡∏¢‡∏á‡∏ã‡∏≤

633021020-6 ‡∏û‡∏¥‡∏ó‡∏ß‡∏±‡∏™ ‡∏û‡∏¥‡∏°‡∏û‡πå‡∏ö‡∏∏‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡πå

presentation


[‡∏Ç‡πâ‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏°‡∏•‡∏¥‡∏á‡∏Å‡πå](https://www.canva.com/design/DAFRdz2M2h8/she8u5e9vyaAb-yw1YewUg/edit?utm_content=DAFRdz2M2h8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton)